<div class="jumbotron">
    <h1 class="text-center">Denise's Burger App</h1>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div id="burgerDiv" class="col-md-4"></div>
    <div class="col-md-2">t</div>
    <div id="eatenBurgerDiv"></div>
    <div class="col-md-1"></div>

</div>