body {
    background-image: url(/assets/images/burger1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3%;
    text-align: center; 
    font-family: sans-serif;
}

#text-enter-button {
    margin-top: 2%;
}

.input-group {
    width: 40%;
    margin: 10px auto 0 auto;
    margin-top: 3%;
}

.burgerName {
    float: left;
    clear: left;
}

.fas {
    float: right;
    margin: 4% 4% 0 0;
}

#enter_text {
    text-align: center;
    margin: 0 auto;
}

.col-4 {
    text-align: center;
}

.container {
    opacity: .8;
}

#burgerImg {
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 200px;
    left: 38%;
}

.jumbotron {
    padding-bottom: 3%;
    background-color: lightslategray;
    opacity: .8;
}

#burgerDiv {
    background-color:rgba(0,123,255,.5);
    color: white;
    padding: 2%;
    box-shadow: 5px 5px 5px black;
}

#eatenBurgerDiv {
    background-color: gray;
    color: white;
    padding: 1%;
    box-shadow: 5px 5px 5px black;
}